.root {
  max-width: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.inputWish {
  width: 78%;
  font-size: 20px;
  padding: 8px;
  border: 3px solid rgba(67, 60, 60, 0.879);
  border-radius: 5px;
}

.inputButton {
  width: 21%;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.879);
}

.inputButton:hover {
  border: 2px solid rgb(22, 125, 41);
}
