.root {
  max-width: 1000px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.wish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  background-color: tan;
  gap: 50px;
  border: 3px solid rgba(67, 60, 60, 0.879);
  border-radius: 5px;
}

.wishText {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 8px;
  border: 1px solid black;
  border-radius: 3px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete {
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

.delete:hover {
  background-color: rgba(224, 30, 30, 0.5);
  border: 2px solid rgb(107, 0, 0);
}

.edit {
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

.edit:hover {
  background-color: rgba(39, 82, 190, 0.5);
  border: 2px solid rgb(0, 98, 255);
}

.save {
  width: 120px;
  height: 45px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

.save:hover {
  background-color: rgba(33, 134, 33, 0.5);
  border: 2px solid rgb(0, 67, 12);
}

.selectGroup {
  display: flex;
  flex-direction: column;
}

.selectText {
  font-size: 18px;
}

.editGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 5px;
}
