.root {
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  color: black;
  background-color: rgb(122, 158, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 3px;
}
